<article id="recipe-article" class="is-centered">
  <div class="column is-one-third is-centered">
 <form id="recipe-card" class="card is-centered">
  <div class="div has py-4 is-centered">
      <p class="p p-4 has-background-primary has-text-grey-dark"><strong class="strong has-text-warning">Recipe: {{recipe_title}}</strong><br>
       <p class="p has-background-primary"><strong class="strong has-text-white ">Description</strong><br>
       <div class="div p-2 has-background-primary">{{description}}</div>
        <p class="p has-background-primary "><strong class="strong has-text-white ">Ingredients</strong><br>
       <div class="div p-2 has-background-primary">{{ingredients}}</div>
       <p class="p has-background-primary"><strong class="strong has-text-white ">Instructions</strong><br>
       <div class="div p-4 has-background-primary">{{instructions}}</div>
       <br>
       <a href="/recipe/edit/{{id}}" class="button is-big edit-link has-background-danger has-text-white is-size-7-fullhd">Delete Recipe</a>
   </div>
 </form>
 </div>
 </article>



